<div id="map"></div>

<app-add-marker (addMarker)="addMarker(markerFromFeature($event))"></app-add-marker>

<table style="max-width: 500px; margin: auto;">
    <thead>
        <th>Bar</th>
        <th style="text-align: center;">Visite ?</th>
    </thead>
    <tbody>
        @for (m of markers(); track m) {
            <tr>
                <td>{{m.options.title}}</td>
                <td style="text-align: center;">
                    <input 
                    type="checkbox" 
                    [checked]="(m.options.opacity ?? 0) == 1"
                    (change)="toggleMarker(m)">
                </td>
            </tr>
        }
    </tbody>
</table>

